{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "env": {
    "es2022": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "strict": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-constant-condition": 0,
    "no-prototype-builtins": 0,
    "no-unused-vars": 1,
    "jsx-quotes": 1,
    "quotes": [2, "single"],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "semi": [2, "always"]
  }
}
